name: Release

on:
  push:
    tags:
      - "**"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Generate self-contained package
        run: |
          git archive --format=tar --prefix=ww-yubico-otp/ HEAD | (cd /var/tmp/ && tar xf -)
          cp composer.lock /var/tmp/ww-yubico-otp/
          (cd /var/tmp/ww-yubico-otp && composer install --no-dev --no-interaction)
          (cd /var/tmp && zip -r -9 ww-yubico-otp.zip ww-yubico-otp)

      - name: Release
        uses: softprops/action-gh-release@aec2ec56f94eb8180ceec724245f64ef008b89f5 # v2.4.0
        with:
          generate_release_notes: true
          files: |
            /var/tmp/ww-yubico-otp.zip
